.resourcePage{
    padding-left: 20px;
    /* width: 95%; */
    
}  
.button-container button {
    padding: 5px 10px;
    margin-right: 20px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}
  
  .button-container button:hover {
    background-color: #ddd;
  }
  
  .button-container button.active {
    background-color: #007bff;
    color: #fff;
  }

@media only screen and (max-width: 768px) {
.button-container {
  display: flex;
}
}