.previous-projects-container {
  margin: 20px;
  position: relative;
}
 
.table-container {
  overflow-x: auto;
  max-width: 100%;
  overflow-y: auto;
}
h2{
  font-size: 1.2rem;
  font-family: 'Arial', sans-serif;
  text-align: left;
}
p{
  font-size: 0.9rem;
  font-family: 'Arial', sans-serif;
  padding: 10px 10px 10px 0px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
 
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
}
 
 
.projname{
  color: #3498db;
}
 
th {
  background-color: #f2f2f2;
}
 
 
 
tr:nth-child(even) {
  background-color: #f2f2f2;
}
 
tr:hover {
  background-color: #ddd;
}
 
 
 
.table-container {
  position: relative;
  overflow-x: auto;
  max-width: 100%;
  overflow-y: auto;
  height: fit-content;
}
 
/* PreviousProjects.css */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
 
.pagination-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
}
 
.pagination-controls button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
 
.leftarrow{
  padding-right: 3px;
 
}
 
.rightarrow{
  padding-left: 3px;
 
}
 
/* Add this CSS to your PreviousProjects.css file */
 
.pie-chart-container {
  margin-top: 20px;
  text-align:center;
  height: 300px;
  width:300px;
}
 
 
.filter-search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
 
.filter-container {
  display: flex;
}
 
.search-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}
 
.filter-container select {
  flex-grow: 1; /* Grow to fill the available space */
  margin-right: 5px; /* Add a small gap between comboboxes */
  width: 150px; /* Set a specific width for the comboboxes */
}
 
.filter-container select,
.search-container input {
  padding: 8px;
  flex-grow: 1; /* Grow to fill the available space */
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}
 
.search-container button:hover {
  background-color: #e0e0e0;
}
 
 
/* Add this CSS to your PreviousProjects.css file */
 
.selected-project-container {
position: absolute;
padding: 10px;
/* overflow: hidden; */
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f1f2f3;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
color: #031d2e;
z-index: 9999;
width: 400px;
margin-left: 5px;
margin-top: -300px;
height: 320px;
}
.selected-project-container h4{
  margin-left: 250px;
  margin-top: -210px;
}
.selected-project-container ul{
  margin-left: 280px;
 
} 
@media only screen and (max-width: 600px) {
 
  .previous-projects-container {
    margin: 5px;
    position: relative;
  }
 
  .previous-projects-container h2{
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
  }
 
  .previous-projects-container p{
    font-size: 0.7rem;
    font-family: 'Arial', sans-serif;
  }
 
  .table-container {
    overflow-x: auto;
    max-width: 100%;
    overflow-y: auto;
  }
  h2{
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
  }
  p{
    font-size: 0.7rem;
    font-family: 'Arial', sans-serif;
    padding: 5px 5px 5px 0px;
  }
 
  .filter-search-container {
    display: block;
    justify-content: space-between;
    margin-bottom: 4px;
  }
 
  .filter-container {
    display: flex;
  }
  .filter-container select {
    flex-grow: 1; /* Grow to fill the available space */
    margin-right: 2px; /* Add a small gap between comboboxes */
    width: 20px; /* Set a specific width for the comboboxes */
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
  }
 
  .filter-container select,
  .search-container input {
    padding: 4px;
    flex-grow: 1; /* Grow to fill the available space */
    margin-right: 2px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
 
  .table-container {
    overflow-x: auto;
    max-width: 100%;
    overflow-y: auto;
  }
  .table-container th{
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
  }
  .table-container td{
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
 
  }
 
}
 

/* For screens smaller than 768px */
@media (max-width: 378px) {
    .previous-projects-container {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .filter-search-container {
      flex-direction: column; /* Stack filter and search vertically */
    }
  
    .filter-container {
      margin-bottom: 10px; /* Add space between filters and search */
    }
  
    .search-container {
      margin-bottom: 10px; /* Add space between search and table */
    }
  
    .table-container {
      overflow-x: auto; /* Allow horizontal scrolling for smaller screens */
    }
  
    .table-container table {
      min-width: 100%; /* Ensure table takes full width of container */
    }
  
    .pagination-controls {
      flex-direction: column; /* Stack pagination controls vertically */
      margin-top: 10px; /* Add space above pagination controls */
    }
  
    .pagination-controls button {
      margin-top: 5px; /* Add space between pagination buttons */
    }
  
    .selected-project-container {
      display: block;
      padding: 10px; /* Adjust padding for selected project container */
      margin-top: 10px; /* Add space above selected project container */
    } 
  }
   
   .pie-chart-container {
    width: 45%; /* Adjust the width as needed */
  }
  
   .selected-project-container {
    width: 50%; /* Adjust the width as needed */
  }
  
  /* For screens larger than 768px */
  @media (min-width: 769px) {
    /* Add specific styles for larger screens if needed */
  }

 
  
   .pie-chart-container {
    display: block;
    width: 45%; /* Adjust the width as needed */
  }
  
  
  
  .selected-project-container {
    position: absolute;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f2f3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #031d2e;
    z-index: 9999;
    width: 100%; /* Initially take full width */
    margin-top: 30px; /* Adjust margin as needed */
    margin-right: 1000px;
  }
  

  .selected-project-container h3 {
    margin-top: 0; /* Remove top margin for heading */
  }
  
  .selected-project-container ul {
    padding-left: 0; /* Remove default padding for the list */
    list-style: none; /* Remove default list styling */
  }
  
  @media (min-width: 768px) {
    .selected-project-container {
      width: 400px; /* Adjust width for larger screens */
      margin-left: calc(50% - 200px); /* Center horizontally */
    }
  }
  
  /* For screens larger than 768px */
  @media (min-width: 769px) {
    /* Add specific styles for larger screens if needed */
 

  
  
   .pie-chart-container {
    display: block;
    width: 45%; /* Adjust the width as needed */
  }
  
  
  
  .selected-project-container {
    position: absolute;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f2f3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #031d2e;
    z-index: 9999;
    width: 100vw; /* Fit full width of viewport */
    margin-left: calc((100vw - 400px) / 2); /* Center horizontally */
    margin-top: 30px; /* Adjust margin as needed */
    max-width: none; /* Remove max-width */
   
  }
  
  .selected-project-container h3 {
    margin-top: 0; /* Remove top margin for heading */
  }
  
  .selected-project-container ul {
    padding-left: 0; /* Remove default padding for the list */
    list-style: none; /* Remove default list styling */
  }
  
  @media (min-width: 768px) {
    .selected-project-container {
      width: 400px; /* Adjust width for larger screens */
      margin-left: calc((100vw - 400px) / 2); /* Center horizontally */
    }
  }
  }  

  .combined-container {
    display: flex;
    justify-content: space-between;
  }
  
  .combined-container  {
    width: 50%;
  }
  
  .combined-container .selected-project-container {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f2f3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #031d2e;
    margin-top: 300px;
  }
 
  